ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
}
#menu-first li{
	flex: auto;
}
#menu-first li a{ /* 1st Level a */
	background-color: #37474F;
	display: block;
	height: 50px;
	color: #FAFAFA;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 50px;
	font-family: 'Source Sans Pro';
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
#menu-first li a:hover{
	background-color: #455A64;
}
.menu-second li a{
	background-color: #6D8E9E !important;
}
#menu-third li a{
	background-color: #78909C !important;
}
@media(min-width: 600px) and (orientation: landscape){
	/* First lvl */
	#menu-first{
		flex-direction: row;

	}

	/* Second lvl */
	.menu-second{
		position: absolute;
		display: none;
	}
	#menu-first li:hover .menu-second{
		display: block;
	}	
	.menu-second li{
		position: relative;
	}
	.menu-second li a{
		background-color: #37474F !important;
	}

	/* Third lvl */
	#menu-third{
		position: absolute;
		display: none;
	}
	.menu-second li:hover #menu-third{
		display: block;
	}
	#menu-third li{
		position: relative;
		left: 218px;
		bottom: 50px;
	}
}
